.top {
  height: 60px;
  margin-bottom: 40px;
  border-radius: 10px;
  border-top: 5px solid $theme-color;
  background: #fff;
  box-shadow: 0 1px 11px 2px rgba(42,42,42,.1);
}

.nav {
  width: 1200px!important;
  margin: 0 auto;
  line-height: 55px;
  .logo {
    width: 100px;
    line-height: 65px;
    margin-right: 20px;
    float: left;
  }
  ul {
    background: #fff;
    list-style-type: none;
    padding: 0;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    padding: 0 20px;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    color: #777;
  }
  li a:hover { 
    background-color: rgba(0,0,0,.03); 
    color: rgba(0,0,0,.95);
  }
  .search {
    float: right;
    input[type='text']:focus { 
      border-color: 1px solid $theme-color;
    }
    input {
      width: 260px;
      height: 30px;
      border: 1px solid rgba(34,36,38,0.15);
      border-radius: 25px;
      padding: 0 20px;
      font-size: 13px;
      outline:none;
    }
  }
}